@charset "utf-8";
/*
 * css catalogue:
 * -------------------
 * initialize.css
 * public.css
 * head.css
 * module.css
 * page.css
 * footer.css
 * table.css
 * newAdd.css
 * hack.css
 * -------------------
 */





/*
 * -------------------------------------------------------
 * ******************** initialize.css *******************
 * -------------------------------------------------------
 */

body { font: 12px Arial, Helvetica, sans-serif; background: #fff; }
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, body, form, input, button, img, cite, strong, em, table, td, th { padding:0; margin:0; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
img, table, td, th { border: 0; }
ul, ol { list-style-type:none; }
a{ text-decoration:none; color:#555; text-decoration:none; font:tahoma,arial,SimSun;}
a:hover{color: #0177D1;}

/*
 * -------------------------------------------------------
 * ******************** end initialize.css ***************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** public.css ***********************
 * -------------------------------------------------------
 */

#content { width: 1000px; margin: 0 auto; padding-top:10px; }
#left { float: left; width: 208px; }
#right { float: right; width: 780px; }

.clear { clear: both; height: 0; font-size: 1px; }

.fontColor1 { color: #285bcc; }
.fontColor2 { color: #fe5504; }
.fontColor3 { font-size: 16px; color: #ff5400; }
.fontColor4 { color: #3d8bd7; }
.fontColor5 { color: #a3a3a3; }
.fontColor6 { color: #f00; }
.fontColor7 { color: #569636; }
.fontColor8 { color: #3e3e3e; }
.fontColor9 { color: #275bcb; }
.fontColor10 { color: #656565; }
.fontColor11 { color: #a8a8a8; }

.letter1 { letter-spacing: 12px; }

.bg1 {background: #f8f8f8;}
.bg2 {background: #f8f8f8;}

.text { border: 1px solid #c2c2c2; background: url(images/text.gif) repeat-x; padding: 2px 3px; font-family: Arial, Helvetica, sans-serif; color: #666; }

.width1 { width: 40px; }
.width2 { width: 200px; }
.width3 { width: 120px; }
.width4 { width: 140px; }

/*
 * -------------------------------------------------------
 * ******************** end public.css *******************
 * -------------------------------------------------------
 */


/*
 * -------------------------------------------------------
 * ******************** head.css *************************
 * -------------------------------------------------------
 */

#head { width: 1000px; height: 110px; position: relative; margin: 0 auto; z-index: 99; }
#head h1 { position: absolute; top: 15px; left: 0; }

#subnav { position: absolute; top: 5px; right: 0; word-spacing: 3px; }
#subnav p { float: left; padding-left: 20px; }
#subnav a { color: #666; }
#subnav a:hover { color: red; }

#subnav span { float: left; color: #c0c0c0; padding: 0 8px; }
#subnav b { color: #ff5301; }
#subnav .shopping { height: 15px; line-height: 15px; float: left; padding-left: 22px; background: url(images/ico.gif) 0 0; }
#subnav .favorite { height: 15px; line-height: 15px; float: left; padding-left: 20px; background: url(images/ico.gif) 0 -27px; }
#subnav .note { height: 15px; line-height: 15px; float: left; padding-left: 20px; background: url(images/ico.gif) 0 -51px; }
#subnav .help { height: 15px; line-height: 15px; float: left; padding-left: 20px; background: url(images/ico.gif) 0 -75px; }
.user_defined { float: left; }

#topbtn { position: absolute; top: 32px; right: 0; z-index: 100; width: 212px; height: 21px; background: url(images/topbtn.gif); line-height: 21px; text-align: center; word-spacing: 2px; }
.topbtn1 { position: absolute; top: 0; left: 0; width: 3px; height: 21px; background: url(images/topbtn.gif) no-repeat 0 -44px; }
.topbtn2 { position: absolute; top: 0; right: 0; width: 3px; height: 21px; background: url(images/topbtn.gif) no-repeat 0 -22px; }
#topbtn a { color: #000; text-decoration: none; }
#topbtn a:hover { color: red; }
#topbtn span { color: #c0c0c0; }
#topbtn .user { padding-right: 14px; background: url(images/ico.gif) no-repeat 50px -106px; position: relative; z-index: 2; }
#path { position: absolute; bottom: 10px; left: 0; color: #000; }
#path a { color: #285bcc; text-decoration: none; }
#path a:hover { text-decoration: underline; }
#path span { font-size: 18px; position: relative; top: 1px; padding-right: 3px; color: #285bcc; }
#search { position: absolute; bottom: 10px; right: 0; }
.input { float: left; background: url(images/input.gif); width: 434px; height: 29px; padding: 5px 0 0 10px; position: relative; margin-right: 6px; }
.input1 { width: 2px; height: 34px; background: url(images/input.gif) no-repeat 0 -70px; position: absolute; top: 0; left: 0; }
.input2 { width: 2px; height: 34px; background: url(images/input.gif) no-repeat 0 -35px; position: absolute; top: 0; right: 0; }
.select1 { padding: 2px; margin-right: 2px; }
.search334 { width: 334px; padding: 2px; +padding: 2px 2px 0; }
.search_btn { float: left; background: url(images/search_btn.gif) no-repeat; border: 0; width: 71px; height: 34px; }

#float_layer { position: absolute; top: 21px; right: 117px; width: 95px; line-height: 20px; background: url(images/float_layer.gif) repeat-y -95px 0; z-index: 1; display: none; }
#float_layer a { text-decoration: none; color: #333; }
#float_layer a:hover { text-decoration: underline; }
#float_layer #adorn1 { width: 95px; height: 3px; overflow: hidden; background: url(images/float_layer.gif) no-repeat 0 0; position: absolute; bottom: -3px; left: 0; }
#float_layer #adorn2 { width: 94px; height: 3px; overflow: hidden; background: url(images/float_layer.gif) no-repeat right 0; position: absolute; top: -3px; left: 0; }

/*
 * -------------------------------------------------------
 * ******************** end head.css *********************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** module.css ***********************
 * -------------------------------------------------------
 */

#nav { height: 153px; margin: 0 auto 10px; position: relative; }
#nav .banner { width: 1000px; height: 120px; position: absolute; top: 0; left: 0; z-index: 1; }
#nav ul { width: 1000px; height: 30px; position: absolute; bottom: 0; left: 0; z-index: 3; }
#nav li { float: left; margin-right: 2px; }

#nav .active { display: block; font-size: 14px; font-weight: bold; color: #fff; text-decoration: none; background: url(images/active.gif) no-repeat right top; }
#nav .active span { display: block; padding: 7px 20px 4px 22px; background: url(images/active_span.gif) no-repeat left top; }

#nav .normal { display: block; font-size: 12px; font-weight: bold; color: #3d3f3e; text-decoration: none; background: url(images/normal.gif) no-repeat right top; }
#nav .normal:hover { color: red; }
#nav .normal span { display: block; padding: 8px 20px 5px 22px; background: url(images/normal_span.gif) no-repeat left top; }

#nav .collection { width: 75px; padding-left: 30px; height: 22px; color: #3d8bd7; line-height: 22px; text-decoration: none; background: url(images/btn.gif) no-repeat 0 -40px; position: absolute; top: 2px; right: 0; }
#nav .collection:hover { filter:alpha(opacity=60); -moz-opacity:0.6; }

#nav .nav_bg { width: 1000px; height: 30px; border-bottom: 3px solid #ff8e00; background: #fff; position: absolute; bottom: 0; left: 0; z-index: 2; }

#left .user { width: 206px; border: 1px solid #E4E4E4 ; margin-bottom: 5px; }
#left .user h3{  border: medium none; margin: 0;    padding: 0 0 0 10px;color: #333333;    line-height: 25px;  font-size: 12px;   font-weight: 700;    margin: 0;    overflow: hidden;    padding-left: 10px; background-color:#F8F8F8; border-bottom:1px solid #e4e4e4;}
#left .user .img ul { background:url(images/T1gfhZXo8tXXXXXXXX-192-226.png) no-repeat 0 0;  height: 55px;  overflow: hidden;    width: 190px; margin-left:15px; margin-top:15px;}
#left .user .img ul li {  float: left;  height: 55px;  line-height: 80px;  margin-right: 6px;   margin-top: 2px;    overflow: hidden;    text-align: center;    width: 54px;}

#left .user_data { color: #666; width: 189px; margin: 20px 0 0 17px; padding-bottom: 10px; }
#left .user_data img { vertical-align:middle; }
#left .user_data p { padding-bottom: 10px; }
#left .user_data p .name { color: #258bbc; }
#left .user_data p .name:hover { color: red; }

#left .other { margin-left:17px; overflow: hidden;  padding: 8px 0;  text-align: center; border-top:1px dotted #CCCCCC; width:172px; height:56px;}
#left .other .enter_store{ background:url(images/T1gfhZXo8tXXXXXXXX-192-226.png) no-repeat 0 -79px;  display: block;  height: 30px;  margin: 0 auto 8px;  text-indent: -99px;   width: 126px; display:block;}
#left .other .collect_store{ display:block; color:#3366CC;}
#left .other .collect_store:hover{ color:#ff6600; text-decoration:underline;}


.module_currency { margin-bottom: 5px; }

.module_special{ margin-bottom:10px;}
.common_title { background:url(images/T15lG_XiphXXartXjX.gif) no-repeat scroll 0 -36px transparent;  border: medium none;  height: 100%;  padding: 0 10px 0 27px; height:36px; overflow:hidden;}
.common_title span{ color: #FFFFFF;  display: inline-block; font: bold 14px/38px "宋体",arial;}
.module_common{ margin-bottom:10px;}
.module_special .wrap,.module_common .wrap{ border:1px solid #e1e1e1}

.veins1 { background-position:0 -72px; }

.message_link { color: #fff; position: absolute; top: 0px; right: 10px; word-spacing: 5px; }
.message_link a { color: #fff; text-decoration: none; font-size: 12px; }
.message_link a:hover { position: relative; top: 1px; text-decoration: underline; }

.web_search { margin: 20px 0 20px 15px; }
.web_search .btn { border: 0; width: 21px; height: 21px; background: url(images/btn.gif) 0 -73px; }

.submenu { margin-left: 25px; margin-top:10px; overflow: hidden; }
.submenu li { line-height: 24px; margin-bottom:8px; }
.submenu li a { background: url(images/liabg.gif) no-repeat scroll 0 0 transparent;  color: #FFFFFF;  display: block;  font-family: "宋体",arial;font-size: 14px;  font-weight: bold;    line-height: 38px;    padding-left: 14px;}
.submenu li a:hover { background-position:0 -38px; text-decoration:none; color:#fff; }
.submenu li ul { margin-top:8px;}
.submenu li ul li {line-height: 24px; margin-bottom:8px; height:24px;}
.submenu li ul li a { background: url(images/ulliabg.gif) no-repeat scroll 0 0;  display: block;  line-height: 24px;   padding-left: 14px; color:#555; font-size:12px; font-weight:normal;}
.submenu li ul li a:hover{background: url(images/ulliabg.gif) no-repeat scroll 0 0 #FFFFFF;  display: block;  line-height: 24px;   padding-left: 14px; color:#0177d1;}

.none_ico { background: url(images/ico.gif) no-repeat 0 -209px; }
.block_ico { background: url(images/ico.gif) no-repeat 0 -179px; }
.link_ico { background: url(images/ico.gif) no-repeat 3px -276px; }


.default { margin-bottom: 10px; }
.default dl { margin: 10px 0; }
.default dd { margin-left: 40px; }
.default ul { margin: 0 0 20px 40px; }
.default ul li { list-style: outside disc; }
.default ol { margin: 0 0 20px 40px; }
.default ol li { list-style: outside decimal; }
.default ol li ul li { list-style: outside disc; }
.default p { margin: 16px 0; }
.default h1, .default h2, .default h3, .default h4, .default h5, .default h6 { margin-bottom: 16px; }
.default h1 { font-size: 32px; }
.default h2 { font-size: 24px; }
.default h3 { font-size: 20px; }
.default h4 { font-size: 14px; }
.default h5 { font-size: 12px; }
.default h6 { font-size: 10px; }

.major .list { width: 750px; margin: 15px; overflow: hidden; }
.major .list li { width: 187px; height: 250px; float: left; text-align:center; }
.major .pic { width: 164px; margin: 0 auto; }
.major .pic img { width: 150px; height: 150px; }
.major .pic a { display: block; width: 150px; height: 150px; padding: 7px; border: 1px solid #c4c4c4; }
.major .pic a:hover { border: 1px solid #067FDA; }
.major h3 { width: 164px; height: 32px; text-align: center; overflow: hidden; margin: 5px auto; line-height: 16px; font-weight: normal; font-size: 12px; }
.major .pay{display: block;  height: 32px;text-align:center;}
.major .pay .pri {background: url(images/pricebg.gif) no-repeat scroll center center transparent;  color: #FFFFFF;    display: inline-block;    font: bold 16px/27px arial;    height: 27px; margin-right: 5px; width: 91px; text-align:center;}
.major .pay .detail { float:left;background: url(images/buybg.gif) no-repeat scroll center center transparent;  color: #555555;    display: inline-block;    font: bold 13px/29px "宋体",arial;    height: 27px;    padding-right: 22px;    width: 69px;}

.major p { background: url(images/pricebg.gif) no-repeat scroll center center transparent;  color: #FFFFFF;    display: inline-block;    font: bold 16px/27px arial;    height: 27px; margin-right: 5px; width: 91px; text-align:center; }

.group_major .list { width: 750px; margin: 15px; overflow: hidden; }
.group_major .list li { width: 187px; height: 270px; float: left; }
.group_major .pic { width: 164px; margin: 0 auto; }
.group_major .pic img { width: 150px; height: 150px; }
.group_major .pic a { display: block; width: 150px; height: 150px; padding: 7px; border: 1px solid #c4c4c4; }
.group_major .pic a:hover { border: 1px solid #555; }
.group_major h3 { width: 164px; height: 40px; text-align: center; overflow: hidden; margin: 10px auto; line-height: 18px; font-weight: normal; font-size: 12px; }
.group_major h3 a { color: #666; text-decoration: none; }
.group_major h3 a:hover { color: #f60; text-decoration: underline; }
.group_major p { width: 164px; color: #fe5504; font-weight: bold; font-size: 14px; text-align: center; }
.group_major p span { font-weight: normal; color: #656565; font-size: 12px; }
.group_major .time { width: 139px; padding-left: 25px; height: 30px; line-height: 30px; color: #5eb3a0; font-weight: bold; margin: 0 auto; }


.major .more { font-family: "宋体"; text-align: right; padding-right: 30px; margin-bottom: 20px; }
.major .more a { color: #285bcc; }
.major .more a:hover { position: relative; top: 1px; }

.general .list { width: 750px; margin: 15px; overflow: hidden; }
.general .list li { width: 124px; height: 180px; float: left; float: left; }
.general .pic { width: 102px; margin: 0 auto; }
.general .pic img { width: 100px; height: 100px; }
.general .pic a { display: block; width: 100px; height: 100px; border: 1px solid #c4c4c4; }
.general .pic a:hover { border: 1px solid #555; }
.general h3 { width: 102px; height: 36px; text-align: center; overflow: hidden; margin: 10px auto; line-height: 18px; font-weight: normal; font-size: 12px; }
.general h3 a { color: #666; text-decoration: none; }
.general h3 a:hover { text-decoration: underline; }
.general p { width: 124px; color: #fe5504; font-weight: bold; font-size: 14px; text-align: center; }

.credited { margin-bottom: 15px; }
.credited table { width: 100%; border-collapse: collapse; line-height: 26px; }
.credited th, .credited td { border-bottom: 1px solid #e1efd6; }
.credited_css { border-right: 1px solid #e1efd6; margin: 3px 0; font-weight: bold; }
.new_size th { font-weight: normal; color: #a9a9a9; }
.credited td { text-align: center; color: #666; }


.tab_table { width: 100%; border-collapse: collapse; table-layout: fixed; }
.tab_table th { height: 25px; color: #a9a9a9; }
.tab_table th, .tab_table td { border-bottom: 1px solid #e2e2e2; }
.tab_align { text-align: center; }
.tab_align_right { text-align: right; }
.font_bold { font-weight: bold;}
.tab_table_con { line-height: 18px; color: #295ad0; padding: 10px 20px 10px 0; }
.money { color: #fd5500; font-weight: bold; font-size: 14px; }
.ware_link { color: #666; text-decoration: none; line-height: 18px; }
.ware_link:hover { color: #f60; text-decoration: underline; }




.general .more { font-family: "宋体"; text-align: right; padding-right: 30px; margin-bottom: 20px; }
.general .more a { color: #285bcc; }
.general .more a:hover { position: relative; top: 1px; }

.nothing { width: 780px; padding: 50px 0; text-align: center; }
.nothing p { width: 278px; height: 50px; padding: 30px 0 0 40px; background: url(images/nothing.gif) no-repeat; font-weight: bold; font-size: 15px; color: #585858; margin: 0 auto; }

.message_text { width: 730px; padding: 15px 25px; overflow: hidden; line-height: 24px; border-bottom: 1px dotted #bababa; position: relative; }
.message_text .link1 { color: #666; }
.message_text .link1:hover { color: red; }
.message_text .link2 { color: #fe5504; }
.message_text .gray { color: #a3a3a3; }
.message_text .beat { position: absolute; top: 10px; right: 30px; }

.message_text dd { color: #666; }

.ware_title { text-align: center; color: #3e3e3e; line-height: 40px; border-bottom: 1px solid #ddd; margin-bottom: 25px; }
.ware_info { width: 740px; margin: 0 auto 20px; position: relative; z-index: 1; }
.ware_pic { float: left; width: 300px; }
.ware_text { float: right; width: 380px; position: relative; z-index: 10; }

.info_particular { width: 100%; border-bottom: 1px solid #e6e6e6; overflow: hidden; }
.info_particular ul { width: 100%; overflow: hidden; }
.info_particular li { width: 100%; overflow: hidden; padding-bottom: 12px; float: left; }
.info_particular p { color: #666; float: left; }

.info_particular .title { padding-top: 1-px; }
.info_particular .con a { color: #275bcb; text-decoration: none; }
.info_particular .con a:hover { color: #ff9b11; }

.quantity { float: left; padding-right: 10px; }
.ascertain { color: #ff9a12; }
.inverse_proportion { float: left; width: 80px; height: 16px; overflow: hidden; background: url(images/inverse_proportion.gif) no-repeat -30px center; }

.info_explain { padding: 15px 0 10px; }
.info_table { border: 2px solid #e6e6e6; border-right: 0; border-left: 0; padding: 1px 0; }
.info_table table { border-collapse: collapse; width: 100%; }
.info_table th { font-weight: normal; color: #b5b5b5; background: #f5f5f5; height: 26px; }
.info_table td { height: 40px; text-align: center; color: #666; border-bottom: 1px solid #e6e6e6; }
.info_table .text { width: 50px; }

.info_fun { padding: 10px 15px 0 0; position: relative; }
.info_fun .align { text-align: right; }
.info_fun .txt { color: #3d3f3e; font-weight: bold; padding-right: 15px; }
.info_fun .btn { border: 0; width: 74px; height: 22px; background: url(images/info_fun_btn.gif); color: #3e3e3e; }
.info_fun .big_btn { border: 0; width: 121px; height: 33px; background: url(images/info_fun_btn2.gif); }

.ware_title span { line-height: 32px; }
.ware_title .main { font-size: 16px; }
.ware_title .time { font-size: 12px; background: #000; padding:0px; color: #23f5c6; position: relative; bottom: 4px; }

.big_pic { width: 300px; height: 300px; background: #f1f1f1; margin-left: 20px; }

.bottom_btn { width: 340px; height: 64px; position: relative; }
.collect { width: 27px; height: 128px; background: url(images/btn.gif) 0 -113px; position: absolute; top: -300px; left: 322px; display: none; }

#btn_list { padding-top: 20px; position: relative; left: 20px; }
#btn_list1 , #btn_list2 { width: 146px; height: 29px; float: left; position: relative; cursor: pointer; }
#btn_list1 { background: url(images/btn_list.gif) no-repeat; }
#btn_list2 { background: url(images/btn_list.gif) no-repeat right 0; left: 10px; }
#btn_list .drop_down { position: absolute; top: 29px; left: 0; width: 138px; padding: 6px 0 10px; border: 4px solid #dadada; background: #fff; display: none; }
#btn_list .drop_down li { height: 30px; }
#btn_list .drop_down li img { float: left; width: 16px; height: 16px; position: relative; top: 6px; left: 20px; }
#btn_list .drop_down li a { color: #3e3e3e; float: left; height: 30px; line-height: 30px; padding-left: 30px; }
#btn_list .drop_down li a:hover { color: #f00; font-weight: bold; }

.left_btn { width: 8px; height: 53px; border: 1px solid #ccc; background: #f7f4f0 url(images/left_btn.gif) no-repeat center center; position: absolute; bottom: 0; left: 6px; cursor: pointer; }
.right_btn { width: 8px; height: 53px; border: 1px solid #ccc; background: #f7f4f0 url(images/right_btn.gif) no-repeat center center; position: absolute; bottom: 0; right: 3px; cursor: pointer; }

.ware_box { width: 305px; height: 64px; position: absolute; left: 19px; top: 3px; overflow: hidden; }
.ware_box ul { width: 30000px; border: 1px sol9id #333; position: absolute; top: 0; left: 0; }
.ware_box li { width: 55px; height: 55px; overflow: hidden; padding: 6px 3px 3px 3px; float: left; cursor: pointer; }

.ware_pic_hover { background: url(images/ware_pic_hover.gif); }

.rate { color: #666; line-height: 30px; width: 360px; padding-left: 20px; margin-bottom: 10px; overflow: hidden; }

.handle { width: 340px; padding: 10px 20px; background: #f6f6f6; border: 1px solid #e8e8e8; overflow: hidden; }
.handle ul { width: 360px; overflow: hidden; color: #7a7a7a; margin-bottom: 10px;}
.handle li { float: left; cursor: pointer; }
.handle_title { padding-top: 3px; }
.solid { padding: 2px 4px; border: 1px solid #ff5400; color: #fff; margin-right: 8px; background: #ff8e56; }
.dotted { padding: 2px 4px; border: 1px dotted #ff5400; margin-right: 8px; background: #fff; }
.aggregate { color: #ff5400; }
.handle .solid:hover,.handle .solid .hover,.handle .dotted:hover,.handle .dotted .hover{ border:2px solid red; padding:1px 3px;}

.ware_btn { width: 380px; margin-top: 20px; position: relative; }
.ware_btn li { float: left; margin-right: 20px; cursor: pointer; }
.btn_c1 a { display: block; width: 132px; height: 37px; background:url(images/promsg.gif) no-repeat scroll 0 -150px transparent }
.btn_c2 a { display: block; width: 132px; height: 37px; background:url(images/promsg.gif) no-repeat scroll 0 -188px transparent}

.ware_cen { width: 333px; height: 129px; position: absolute; top: 50px; right: 10px; display: none-; }
.ware_center { width: 316px; height: 112px; padding: 7px 4px 0; position: absolute; top: 0; left: 0; z-index: 2; background: #fff; border: 3px solid #dadada; }
.ware_cen_bottom { width: 330px; height: 126px; position: absolute; bottom: -1px; right: -1px; z-index: 1; background: #8d8d8d; -moz-opacity: 0.5; opacity:.5; filter: alpha(opacity=50); }
.ware_center h1 { background: url(images/login_h1.gif); height: 30px; }
.dialog_title { background: #fff url(images/linebox_h1_span.gif) no-repeat 3px 3px; display: block; padding: 3px 10px 3px 15px; position: absolute; color: #656565; }

.ware_cen_info_fun { width: 333px; height: 199px; position: absolute; top: 50px; right: 10px; display: none-; }
.ware_center_info_fun { width: 316px; height: 182px; padding: 7px 4px 0; position: absolute; top: 0; left: 0; z-index: 2; background: #fff; border: 3px solid #dadada; }
.ware_cen_bottom_info_fun { width: 330px; height: 196px; position: absolute; bottom: -1px; right: -1px; z-index: 1; background: #8d8d8d; -moz-opacity: 0.5; opacity:.5; filter: alpha(opacity=50); }
.ware_cen_info_fun h1 { background: url(images/login_h1.gif); height: 30px; }

.enter { width: 404px; height: 286px; position: absolute; top: 50%; left: 50%; margin: -142px 0 0 -202px; z-index: 1000; }
.enter_ware_center { width: 386px; height: 269px; padding: 7px 4px 0; position: absolute; top: 0; left: 0; z-index: 2; background: #fff; border: 3px solid #dadada; }
.enter_ware_center h1 { background: url(images/login_h1.gif); height: 30px; }
.enter_ware_cen_bottom { width: 400px; height: 282px; position: absolute; bottom: 0; right: 0; z-index: 1; background: #8d8d8d; -moz-opacity: 0.5; opacity:.5; filter: alpha(opacity=50); }
.enter .con { width: 83%; margin: 0 auto; }
.suggestive { height: 28px; line-height: 28px; padding-left: 55px; background: #f4f4f4 url(images/suggestive.gif) no-repeat 20px 3px; border: 1px solid #ddd; color: #3f3f3f; margin: 10px 0; }
.enter table { color: #676767; border-collapse: collapse; }
.enter table td { padding: 5px 0; }
.enter .text { border: 1px solid #c2c2c2; background: #fff url(images/text.gif) repeat-x; padding: 4px; font-family: Arial, Helvetica, sans-serif; color: #666; }
.enter a { color: #c53900; }
.enter a:hover { color: red; }
.enter .btn1 { border: 0; width: 75px; height: 29px; background: url(images/enter_btn.gif) 0 0; }
.enter .btn2 { border: 0; width: 75px; height: 29px; background: url(images/enter_btn.gif) -85px 0; }

.close_link { width: 21px; height: 21px; padding-right: 10px; position: absolute; top: 7px; right: 4px; background: #fff url(images/dialog_close_button.gif) no-repeat right bottom; overflow: hidden; cursor: pointer; }
.close_hover { width: 21px; height: 21px; padding-right: 10px; position: absolute; top: 7px; right: 4px; background: #fff url(images/dialog_close_button.gif) no-repeat right top; overflow: hidden; cursor: pointer; }

.ware_cen_btn { padding: 10px 0 0 22px; }
.ware_text_p { color: #666; margin-bottom: 8px; }
.bold_num { font-weight: bold; font-size: 14px; color: #4a7911; }
.bold_mly { font-weight: bold; font-size: 14px; color: #fc5b00; }
.btn1 { width: 110px; height: 29px; border: 0; color: #c73702; font-weight: bold; font-size: 14px; font-size: 13px; background: url(images/btn.gif) 0 -410px; }
.btn2 { width: 125px; height: 29px; border: 0; color: #4e4e4e; font-weight: bold; font-size: 14px; font-size: 13px; background: url(images/btn.gif) 0 -452px; }

.float_layer_text { color: #b9b9b9; padding-bottom: 10px; }
.fill_in_fun { width: 100%; overflow: hidden; padding-bottom: 10px; }
.fill_in_fun li { width: 100%; overflow: hidden; float: left; padding-bottom: 10px; }
.fill_in_fun li p { float: left; }
.fill_in_fun .title { color: #666; padding-top: 4px; }
.fill_in_fun .text { width: 165px; }
.fill_in_fun .btn_fun { padding-left: 60px; }
.fill_in_fun .btn_fun input { border: 0; width: 75px; height: 29px; font-weight: bold; color: #c53800; background: url(images/enter_btn.gif) no-repeat; }

.user_menu { width: 760px; height: 30px; padding-left: 20px; background: url(images/user_menu.gif) repeat-x 0 bottom; position: relative; }
.user_menu li { float: left; margin-right: 4px; }

.user_menu .ornament1 { position: absolute; }
.user_menu .ornament2 { position: absolute; }

.user_menu .active { display: block; font-size: 12px; font-weight: bold; color: #3d3f3e; text-decoration: none; background: url(images/user_menu_nav.gif) no-repeat right -50px; }
.user_menu .active span { display: block; padding: 8px 20px 8px 22px; background: url(images/user_menu_nav.gif) no-repeat left -100px; }
.user_menu .normal { display: block; font-size: 12px; font-weight: bold; color: #3d3f3e; text-decoration: none; background: url(images/user_menu_nav.gif) no-repeat right 0; }
.user_menu .normal:hover { color: red; }
.user_menu .normal span { display: block; padding: 8px 20px 8px 22px; background: url(images/user_menu_nav.gif) no-repeat left -150px; }

.option_box { width: 740px; padding: 0 20px; margin-bottom: 10px; _overflow-x:auto; }

.grade { border: 1px solid #fee1b9; background: #fffcf3; margin-top: 15px; }

.annals { padding: 15px 0 0 14px; width: 192px; overflow: hidden; }
.annals li { float: left; padding: 0 8px 15px 0; }
.annals li a { display: block; border: 1px solid #babcbb; width: 50px; height: 50px; padding: 1px; }
.annals li a:hover { border: 1px solid #333; }

.table_common { width: 780px; overflow: hidden; }
.table_common table { width: 100%; border-collapse:collapse; }
.table_common th { padding: 5px 0; color: #a3a3a3; font-weight: normal; }
.table_common td { padding: 5px 0; text-align: center; color: #666; border-bottom: 1px dotted #d8d8d8; }

.message_text2 { width: 100%; padding: 15px 0; line-height: 20px; overflow: hidden; border-bottom: 1px dotted #a99578;  }
.message_text2 dl { width: 100%; position: relative; margin-bottom: 10px; overflow: hidden; }
.message_text2 .light{ padding-left: 25px; }
.leave_word dt { float: left; padding-left: 25px; font-weight: bold; color: #285bcc; }
.leave_word dd { float: left; width: 500px; color: #3d3f3e; }
.leave_word dd p { color: #888; }
.leave_word p { position: absolute; top: 0; right: 20px; color: #666; }
.leave_word .name { display: block; width: 175px; }
.leave_word .date { display: block; width: 175px; }
.revert_to dt { float: left; padding-left: 25px; font-weight: bold; color: #fe5504; }
.revert_to dd { float: left; width: 500px; color: #fe5504; }
.revert_to p { position: absolute; top: 0; right: 20px; color: #888; text-align: right; }
.revert_to .name { display: block; width: 175px; }
.revert_to .date { display: block; width: 175px; }

.fill_in { width: 755px; padding: 10px 0 10px 25px; }
.fill_in p { margin-bottom: 10px; }
.fill_in textarea { width: 560px; height: 100px; overflow: auto; border: 1px solid #c2c2c2; background: #fff url(images/text.gif) repeat-x; padding: 4px; font-family: Arial, Helvetica, sans-serif; color: #666; }
.fill_in .text { border: 1px solid #c2c2c2; background: #fff url(images/text.gif) repeat-x; padding: 4px; font-family: Arial, Helvetica, sans-serif; color: #666; }
.fill_in .desc { float: left; }

.buy_name { width: 92%; padding: 4%; overflow: hidden; }
.buy_name li { width: 16.5%; line-height: 25px; float: left; color: #666; }

/*
 * -------------------------------------------------------
 * ******************** end module.css *******************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** page.css *************************
 * -------------------------------------------------------
 */

.shop_list_page .page { float: right; margin-top: 15px; padding-bottom: 10px; }
.down, .down_no, .former, .former_no, .page_link, .page_hover, .nonce { margin-left: 5px; }
.former { border: 1px solid #ff7a32; display: block; float: left; width: 15px; height: 17px; background: #ff975f url(images/page_ico.gif) no-repeat 5px -21px; }
.former:hover {border: 1px solid #a53a00;}
.down { display: block; color: #fff; text-decoration: none; padding: 2px 15px 0 8px; float: left; border: 1px solid #ff7a32; background: #ff975f url(images/page_ico.gif) no-repeat 50px -49px; }
.down:hover {border: 1px solid #a53a00;}
.page_link { color: #666; }
.page_hover { color: #ff6000; }
.page_link, .page_hover { font-weight: bold; display: block; float: left; text-decoration: none; padding: 2px 5px 0; font-size: 14px; }
.page_link:hover, .page_hover:hover { text-decoration: underline; }
.former_no { border: 1px solid #ddd; display: block; float: left; width: 15px; height: 17px; background: #fff url(images/page_ico.gif) no-repeat 5px 5px; }
.down_no { display: block; color: #fff; text-decoration: none; padding: 2px 15px 0 8px; float: left; border: 1px solid #c7c7c7; background: #e0e0e0 url(images/page_ico.gif) no-repeat 50px -49px; }
.nonce { border: 1px solid #ddd; display: block; float: left; height: 17px; text-decoration: none; color: #a3a3a3; line-height: 17px; padding: 0 5px; }
.stat { float: left; height: 20px; line-height: 20px; color: #a3a3a3; text-decoration: none; }

/*
 * -------------------------------------------------------
 * ******************** end page.css *********************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** footer.css ***********************
 * -------------------------------------------------------
 */

#footer { width: 1000px; margin: 0 auto; border-top: 3px solid #d5d2d2; text-align: center; color: #aaa; line-height: 20px; padding-bottom: 10px; }
#footer p { color: #666; word-spacing: 5px; padding: 10px 0; }
#footer a { color: #666; text-decoration: none; }
#footer a:hover { text-decoration: underline; }

/*
 * -------------------------------------------------------
 * ******************** end footer.css *******************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** table.css ************************
 * -------------------------------------------------------
 */

/*
 * -------------------------------------------------------
 * ******************** end table.css ********************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** newAdd.css ***********************
 * -------------------------------------------------------
 */

.related_list { margin:5px; }
.related_list dt { padding:3px 3px; border-bottom:#eee 1px solid; margin-top:15px; background:#eee; }
.related_list dt a { color:#000; text-decoration:none; }
.related_list dd { margin:3px 0px; padding:3px; }
.related_list dd a { margin:3px 0px; text-decoration:none; color:#000; }


/*
 * -------------------------------------------------------
 * ******************** end newAdd.css *******************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** hack.css *************************
 * -------------------------------------------------------
 */

#topbtn .user { +background: url(images/ico.gif) no-repeat 50px -108px; }
.no_former { +height: 18px; }
.former { +height: 18px; }
.die6 { margin-bottom: 10px; width: 780px; _overflow-x: auto; }
/*
 * -------------------------------------------------------
 * ******************** end hack.css *********************
 * -------------------------------------------------------
 */
.w1000{ width:1000px; height:120px; margin:auto;} 
.clearfix:after{ content:'\20'; display:block; overflow:hidden; height:0; clear:both;}


.sn_banner .share { background: url(images/share.gif) no-repeat scroll 0 0 transparent; display: block; height: 115px; width: 168px; position: relative;  float: left;}
.sn_banner .shop-name { height: 87px;  overflow: hidden; padding-top: 18px;  width: 618px; float:left; text-align: center;}
.sn_banner .shop-name h2 {  color: #0177D1;  font: 42px/54px impact;}
.sn_banner .shop-name h3{color: #555555;  font: 18px/26px "微软雅黑","黑体",arial;    height: 26px;}
.sn_banner .favorite {  height: 115px;  overflow: hidden;  width: 164px; float:right;}
.sn_banner .favorite a {background: url(images/fa.gif) no-repeat scroll 0 0 transparent;    display: block;    height: 115px;    width: 164px;}

#nav1{  width: 100%; background: url(images/navbg.gif) repeat-x scroll 0 0 transparent; text-align:center; margin:auto;}
#nav1 ul{height: 35px; overflow: hidden; width:1000px; margin:auto;}
#nav1 ul li {background: url(images/navli.gif) no-repeat scroll right center transparent; display: block; float: left; height: 35px;    line-height: 34px;    overflow: hidden;    padding: 0 7px 0 5px;    white-space: nowrap;}
#nav1 ul li a {   cursor: pointer;  display: block;   float: left;    height: 35px;    overflow: hidden;    padding-left: 8px;    text-decoration: none;    color: #fff;}
#nav1 ul li a span{ font-weight: normal;   font-size: 12px;  color: #FFFFFF;  display: block;  float: left;  height: 35px; line-height: 34px;   overflow: hidden;    padding-right: 8px;}
#nav1 ul li a.home,#nav1 ul li .home:hover { background: url(images/navhomebg.gif) no-repeat scroll left center transparent;  padding-left: 28px; color:#0177D1;}
#nav1 ul li a:hover,#nav1 ul li a.active { background: url(images/lan_05.gif) no-repeat scroll left center transparent;}
#nav1 ul li a:hover span, #nav1 ul a.active span,#nav1 ul li a.home span{ background: url(images/lan_05.gif) no-repeat scroll right center transparent;    color: #0177D1;}

#sale_list{ margin-top:10px;}
#sale_list .ks-switchable-nav { height: 27px; border-bottom:1px solid #0177D1; padding-left:10px;}
#sale_list .ks-switchable-nav li  { background-color: #FFFFFF;  border: 1px solid #0177D1;  float: left;   height: 26px;  margin-left: 5px; line-height:26px; padding:0 5px;}
#sale_list .ks-switchable-nav .ks-active{ background-color:#0177D1; color:#fff;}
#sale_list .ks-switchable-content{ padding:4px 6px}
#sale_list .ks-switchable-content ul li{ border-bottom:1px dashed #EEEEEE; padding:9px 0}
#sale_list .ks-switchable-content ul li .pic {  border: 1px solid #CCCCCC;  float: left;  height: 40px;  margin-right: 10px;    text-align: center;  width: 40px;}
#sale_list .ks-switchable-content ul li .pic a {  display: table-cell;  height: 40px;  text-align: center;    vertical-align: middle;    width: 40px;}
#sale_list .ks-switchable-content ul li .pic img {  vertical-align: middle;}
#sale_list .ks-switchable-content ul li .desc, #sale_list .ks-switchable-content ul li .price {    float: left;    height: 14px;
    line-height: 1.2;    overflow: hidden;    text-align: left;    width: 120px;}
#sale_list .ks-switchable-content ul li .desc a{ color:#555555;}
#sale_list .ks-switchable-content ul li .desc a:hover{ color:#0177D1}
#sale_list .ks-switchable-content ul li .price {    color: #FF5500;    font-size: 13px;}
#sale_list .ks-switchable-content ul li .price i {    background-position: -96px -40px;}
#sale_list .ks-switchable-content ul li .collecter, #sale_list .ks-switchable-content ul li .sale {    float: left;    line-height: 1.4;    overflow: hidden;    width: 120px;}
#sale_list .ks-switchable-content ul li .sale strong {    color: #0177D1;}
#sale_list .ks-switchable-content ul li .collecter i, #sale_list .ks-switchable-content ul li .sale i { background:url("http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png") no-repeat scroll 0 0 transparent;display: inline-block; height: 16px;
    overflow: hidden;    vertical-align: top;    width: 16px; float:left; margin-right:8px;}
#sale_list .ks-switchable-content ul li .sale i{ background-position:-96px -56px;}
#sale_list .ks-switchable-content ul li .collecter i{ background-position:-80px -56px;}

#copyright {  margin:auto;   text-align: center;  width: 1000px; margin-top:10px;}
#copyright p {   color: #D5D5D5;   line-height: 2;}
#copyright p a {  color: #333333;   padding: 0 10px;  outline: medium none;  text-decoration: none;}
#copyright p a:hover{ color:#ff6600; text-decoration:underline;}
#copyright span {    color: #666666;}

#subFooter {   margin: 20px auto;   text-align: center;    width: 1000px;}
#subFooter a, #subFooter span {  padding: 0 10px;}

.topsearch{}
.topsearch .search_b{ width:983px; border:1px solid #E4E4E4; margin-top:10px; height:33px;padding-left:15px;}
.topsearch .search_b .keyword{ float:left;}
.topsearch .search_b span{ float:left;}
.topsearch .search_b form{ padding-top:6px; height:26px;}
.topsearch .search_b .keyword s { background: url(images/searchs.gif) no-repeat scroll 0 0 transparent;  display: block;  height: 16px;width: 16px;    margin: 2px 0 0;    overflow: hidden; float:left;     }
.topsearch .search_b input { border: 1px solid #E7E7E7;  height: 19px;overflow: visible; margin:0 5px;}
.topsearch .search_b .submit .button { background: url(images/searchbtn.gif) no-repeat scroll center center transparent;   color: #0177D1;   display: block;    height: 21px;    line-height: 21px;    margin-left: 4px;    overflow: hidden;    width: 56px;    border-width: 0;    font-size: 12px;    font-weight: 700;    height: 21px;    width: 60px; cursor:pointer;}

.kefu {    background: none repeat scroll 0 0 #FFFFFF; border:1px solid #E2E2E2;position:fixed !important; top:180px;top:140px\9;  position:absolute; z-index:300; top:expression(offsetParent.scrollTop+200);right:0px;}
.kefu .show .title h3 {    background: url(images/close_1.gif) repeat scroll 0 0 transparent;    cursor: pointer; height: 19px;    width: 120px;}
.kefu .show .title .um-text { background: url(images/T1S9nhXnJlXXXXXXXX.gif) repeat-x scroll 0 0 transparent;    border-top: 2px solid #0177D2;    color: #000000;    font-weight: 700;    height: 28px;    line-height: 28px;    text-align: center; width:120px;}
.kefu .content {  overflow: hidden; text-align: center;    width: 118px;}
.kefu .content .um-group{border-bottom: 1px dotted #E2E2E2;  overflow: hidden;    width: 100%; padding-bottom:5px;}
.kefu .content .um-title {  font-weight: 700;  height: 24px;  line-height: 24px;  text-align: center;    width: 100%; color:#454545;}
.kefu .content .um-group ul{ overflow:hidden; padding-left:10px; padding-left:5px\9;}
.kefu .content .um-group ul li{ padding:5px 5px 3px 0; float:left; white-space:nowrap;}
.kefu .content .um-group .um-share{ padding-left:10px;}
.kefu .show .bottom {overflow: hidden;    width: 118px; margin-top:5px;}
.kefu .show .bottom h3 a {background-image: url(images/T1ReLcXolrXXXXXXXX.gif); border-bottom: 1px solid #E2E2E2; cursor: pointer;    display: block;    height: 56px;    width: 120px; display:block;}
.kefu .show .bottom .back{ text-align:center;}
.kefu .show .bottom .back a{ height:20px; line-height:20px; display:block; cursor:pointer;}
.kefu .hide .um-open {  border: 1px solid #0177D2;  display: block;overflow:hidden;   width: 22px; cursor:pointer;}
.kefu .hide .um-sign { background-color:#fff; width:22px; height:22px; text-align:center;}
.kefu .hide .um-sign b { background: none repeat scroll 0 0 #0177D2;  color: #FFFFFF;    font-family: "宋体";    height: 10px;    line-height: 10px;    overflow: hidden;  text-align: center;    text-indent: 0;    width: 10px; margin-top:7px; float:left; margin-left:6px;}
.kefu .hide .um-open .um-text {  background: none repeat scroll 0 0 #0177D2;    color: #FFFFFF;    display: block;    height: 77px;    padding-top: 3px;    width: 100%; text-align:center;}

/*顶部导航*/

#site-nav .quick-menu LI {BACKGROUND:url(images/mbg.png) no-repeat}
#site-nav .search .menu-hd S {BACKGROUND:url(images/mbg.png) no-repeat}
#site-nav .quick-menu .cart S {BACKGROUND:url(images/mbg.png) no-repeat 999em 0px}
#site-nav .search .menu-bd BUTTON {BACKGROUND:url(images/mbg.png) no-repeat 999em 0px}

#menu_1hao5{ width:100%; margin:0 auto; }
#site-nav .left_menu{
    color: #666666;
    float: left;
    font-family: "微软雅黑",tahoma,verdana;
    margin-left: 15px;
}
#site-nav .left_menu a{color: #014CC9; line-height:25px;}
#site-nav .left_menu a:hover{ color: #014CC9;}
#site-nav {Z-INDEX: 10000; MARGIN: 0 auto; COLOR: #000; LINE-HEIGHT: 19px; POSITION: relative; HEIGHT:25px; BORDER-BOTTOM: #d2d2d2 1px solid; BACKGROUND: #EEEEEE;}
#site-nav A {COLOR: #666}
#site-nav A:hover {COLOR: #f50}
#site-nav .login-info {FLOAT: left; PADDING-TOP: 1px}
#site-nav .login-info A {MARGIN-RIGHT: 8px}
#site-nav .login-info A.user-nick {MARGIN-RIGHT: 0px}
#site-nav .quick-menu {RIGHT: 0px; POSITION: absolute; TOP: 0px}
#site-nav .quick-menu LI {PADDING-RIGHT: 10px; BACKGROUND-POSITION: right 6px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: -1px; PADDING-TOP: 2px}
#site-nav .quick-menu li .qq_login{background:url(../images/member/qq_login.png) no-repeat; width:120px; height:24px; display:block;}
#site-nav .quick-menu LI.last {BACKGROUND: none transparent scroll repeat 0% 0%}
#site-nav .quick-menu LI.menu-item { padding:0; position:relative;}
#site-nav .quick-menu .cart {PADDING-TOP: 1px; position:relative; _padding-top: 2px}
#site-nav .quick-menu .cart A {PADDING-LEFT: 16px}
#site-nav .quick-menu .cart strong{ color:#F00;}
#site-nav .quick-menu .cart S {BACKGROUND-POSITION: -83px -21px; LEFT: 8px; WIDTH: 14px; POSITION: absolute; TOP: 6px; HEIGHT: 11px}
#site-nav .menu-hd {PADDING-RIGHT: 22px; DISPLAY: block; PADDING-LEFT: 10px; Z-INDEX: 10002; PADDING-BOTTOM: 0px; MARGIN: 1px 1px 0px; CURSOR: pointer; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 20px}
#site-nav .my1hao5 .menu-hd {WIDTH: 58px; PADDING-TOP: 1px; _padding-top: 1px}
#site-nav .my_favourite .menu-hd {WIDTH: 38px; PADDING-TOP: 1px; _padding-top: 1px}
#site-nav .search .menu-hd {WIDTH: 24px; PADDING-TOP: 1px; _padding-top: 1px}
#site-nav .mywantbuy .menu-hd{WIDTH: 38px; PADDING-TOP: 1px; _padding-top: 1px}
#site-nav .services .menu-hd {WIDTH: 48px; PADDING-TOP: 1px; _padding-top: 1px}
#site-nav .menu-hd B {BORDER-RIGHT: #eee 4px solid; BORDER-TOP: #666 4px solid; FONT-SIZE: 0px; RIGHT: 10px; BORDER-LEFT: #eee 4px solid; WIDTH: 0px; LINE-HEIGHT: 0; BORDER-BOTTOM: #eee 4px solid; POSITION: absolute; TOP: 7px; HEIGHT: 0px; -webkit-transition: -webkit-transform .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: -webkit-transform .2s ease-in}
#site-nav .search .menu-hd {PADDING-LEFT: 25px; COLOR: #666}
#site-nav .search .menu-hd S {BACKGROUND-POSITION: -67px -20px; LEFT: 9px; WIDTH: 14px; POSITION: absolute; TOP: 4px; HEIGHT: 13px}
#site-nav .menu-bd {BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; DISPLAY: none; Z-INDEX: 10001; RIGHT: 0px; BACKGROUND: #fff; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 1px solid; POSITION: absolute; TOP: 21px}
#site-nav .search .menu-bd {_right: -1px}
#site-nav IFRAME.menu-bd {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; Z-INDEX: -1; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: alpha(opacity=0); FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px}
#site-nav .menu-bd-panel {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; PADDING-TOP: 10px}
#site-nav .menu-item-opp .menu-bd {LEFT: 0px}

#site-nav .menu {POSITION: relative}
#site-nav .menu:hover .menu-hd {BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; BACKGROUND: white; MARGIN: 0px; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 1px}
#site-nav .hover .menu-hd {BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; BACKGROUND: white; MARGIN: 0px; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 1px}
#site-nav .menu:hover .menu-bd {DISPLAY: block}
#site-nav .hover .menu-bd {DISPLAY: block}
#site-nav .menu:hover .menu-hd B {BORDER-LEFT-COLOR: #fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #666; TOP: 5px; BORDER-RIGHT-COLOR: #fff; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%}
#site-nav .hover .menu-hd B {BORDER-LEFT-COLOR: #fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #666; TOP: 5px; BORDER-RIGHT-COLOR: #fff; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%}
#site-nav .my1hao5 .menu-bd {WIDTH: 94px; LINE-HEIGHT: 1.7; TOP: 21px; HEIGHT: 77px}
#site-nav .my1hao5 .menu-bd-panel {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px}
#site-nav .my1hao5 .menu-bd-panel a{ width:74px; display:block;}
#site-nav .my_favourite .menu-bd {WIDTH: 84px; LINE-HEIGHT: 1.7; TOP: 21px; HEIGHT: 57px}
#site-nav .my_favourite .menu-bd-panel {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px}
#site-nav .mywantbuy .menu-bd {WIDTH: 74px; LINE-HEIGHT: 1.7; TOP: 21px; HEIGHT: 77px}
#site-nav .mywantbuy .menu-bd-panel {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px}
#site-nav .mywantbuy .menu-bd-panel a{ width:54px; display:block;}
#site-nav .search .menu-bd {WIDTH: 204px; TOP: 21px; HEIGHT: 66px}
#site-nav .search .menu-bd INPUT {BORDER-RIGHT: #b7b7b7 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #878787 1px solid; PADDING-LEFT: 1px; FLOAT: left; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #878787 1px solid; WIDTH: 180px; LINE-HEIGHT: 13px; PADDING-TOP: 3px; BORDER-BOTTOM: #b7b7b7 1px solid}
#site-nav .search .menu-bd BUTTON {BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -20px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 66px; CURSOR: pointer; COLOR: #fff; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px}
#site-nav .services .menu-bd {WIDTH: 174px; TOP: 21px; HEIGHT: 218px}
#site-nav .services .menu-bd-panel {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px}
#site-nav .services .menu-bd DL {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #e5e5e5 1px solid}
#site-nav .services .menu-bd .last {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px}
#site-nav .services .menu-bd DT {FONT-WEIGHT: bold; COLOR: #8c8c8c; LINE-HEIGHT: 1.5; TEXT-ALIGN: left}
#site-nav .services .menu-bd DD {LINE-HEIGHT: 1.6; TEXT-ALIGN: left}
#site-nav .services .menu-bd DD A {MARGIN-RIGHT: 2px}



#rank .rank-nav,#rank .rank-nav a,#rank .rank-nav a span,#rank .rank-nav .curr a,#rank .rank-nav .curr a span,#rank ul li .price strong,#rank ul li .sale,#rank ul li .collecter{background-color:transparent;background-image:url(images/rank.png);background-repeat:no-repeat;background-attachment:scroll;}
#rank .rank-nav,#rank .rank-c{border:0;}
#rank .rank-nav{margin:0;padding:0;height:26px;padding-left:5px;background-repeat:repeat-x;background-position:0 -66px;}
#rank .rank-nav li{float:left;height:26px;margin:0;padding:0;margin-right:4px;overflow:hidden;width:86px;}
#rank .rank-nav a{display:block;line-height:25px;padding-left:5px;background-position:0 -33px;margin:0;text-decoration: none;}
#rank .rank-nav a span{display:block;margin:0;padding-top:3px;color:#0050C6;line-height:22px;padding-right:5px;background-position:100% -33px;cursor:pointer;}
#rank .rank-nav .curr a{display:margin:0;block;line-height:26px;text-decoration:none;background-position:0 0;}
#rank .rank-nav .curr a span{display:block;margin:0;padding-top:3px;line-height:23px;color:#000;background-position:100% 0;cursor:pointer;}
#rank .rank-c li{ margin:10px;border-bottom:1px #ddd dashed;height:53px;width:172px; overflow:hidden;}
#rank ul li .pic{float:left;margin-right:10px;height:40px;text-align:center;width:40px;}
#rank ul li .pic a{display:table-cell;height:40px;width:40px;*display:block;*font-size:35px;*line-height:1;text-align:center;vertical-align:middle;text-decoration: none;}
#rank ul li .pic img{width:40px; height:40px;}
#rank ul li .desc,#rank ul li .price{float:left;width:110px;height:14px;line-height:1.2;text-align:left;overflow:hidden;}
#rank ul li .desc a{color:#0050C6;text-decoration: none;}
#rank ul li .desc a:hover{color:#FF6600;}
#rank ul li .sale{float:left;padding-left:19px;height:16px;line-height:1.4;text-align:left;overflow:hidden;}
#rank ul li .sale{width:40px;padding-top:2px;}
#rank ul li .sale{width:100px;background-position:-30px -135px;}
#rank ul li .sale strong{font-weight:normal;}
#rank ul li .price strong{padding-left:15px;background-position:-47px -156px;font-size:13px;color:#FF5500;font-weight:normal}
#rank ul li .collecter{padding-top:4px;}
#rank ul li .collecter{float:left;padding-left:19px;height:16px;text-align:left;overflow:hidden;background-position:-16px -113px;}
