html, legend {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #404040;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
li {
    list-style: none outside none;
}
body {
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
    text-align: center;
}
table {
    font-size: auto;
}
.clear-both {
    clear: both;
}
#main {
    margin: 0 auto;
    text-align: left;
    width: 200px;
}
.print p input {vertical-align:middle;}
table {
    border: 1px solid #858585;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
	text-align:center;
}
h3 {
    font-size: 12px;
    margin: 0;
}
.print{
	
}

.print .info {
    position: relative;
}
.print .info h3 {
    font-size: 1.2em;
}
.print .info .prime-info {
    float: left;
}
.print ul.sub-info {
    overflow: hidden;
}
.clear {
    clear: both;
}
.print ul.sub-info li {
    float: left;
    padding-right: 3em;
}
button {
    height: 2em;
    text-align: center;
    width: 10em;
}
th {
    border: 1px solid #858585;
    color: #000000;
    padding: 0.4em 0.4em 0.4em 1.1em;
    text-align: center;
}
td {
    border-bottom: 1px solid #858585;
    
}
.odd td {
    background-color: #F2F2F2;
}
.price {
   
   
}
.price li {
    float: left;
   
    min-height: 1%;
    padding-right: 1em;
    width: 16em;
}
.price li span {
    float: left;
}
.order .col-0 {
    width: 4em;
}
.order .col-1 {
    width: 20em;
}
.order .col-2 {
    width: 12em;
}
.order .col-3 {
    width: 4em;
}
.order .col-4 {
    width: 4em;
}
.order .col-5 {
    width: 8em;
}
.order .col-6 {
    width: 8em;
}
.picking .col-0 {
    width: 12em;
}
.picking .col-1 {
    width: 20em;
}
.picking .col-2 {
    width: 16em;
}
.picking .col-3 {
    width: 15em;
}
.picking td {
    padding: 0.4em 0.5em;
}
.buttons {
    padding: 10px;
    text-align: center;
}
.order_ship{
	float:right;
	padding-right: 10px;
}

.order_ship span{
	width: 90px;
	text-align: right;
	display: inline-block;
}