{include file="header.html"}
<script type="text/javascript">
$(function(){
    $('#account_form').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('right').text('OK!');
        },
        onkeyup    : false,
        rules : {
            account : {
                required : true,
				email : true,
                byteRange: [6,40,'{$charset}'],
                remote   : {
                    url :'index.php?app=deposit&act=check_account',
                    type:'get',
                    data:{
                        account : function(){
                            return $('#account').val();
                        },
                        id : '{$account.account_id}'
                    }
                }
            },
            password: {
                maxlength: 40,
                minlength: 6
            },
            real_name   : {
                required : true
            }
        },
        messages : {
            account : {
                required : '{$lang.account_not_empty}',
				email    : '{$lang.currect_email}',
                byteRange: '{$lang.account_length_limit}',
                remote   : '{$lang.account_exist}'
            },
            password : {
                maxlength: '{$lang.password_limit}',
                minlength: '{$lang.password_limit}'
            },
            real_name  : {
                required : '{$lang.real_name_not_empty}'
            }
        }
    });
});
</script>
<div id="rightTop">
  <p>{$lang.account}</p>
  <ul class="subnav">
    <li><a class="btn1" href="index.php?app=deposit">{$lang.manage}</a></li>
    <li><a class="btn1" href="index.php?app=deposit&amp;act=drawlist">{$lang.withdraw_manage}</a></li>
    <li><a class="btn1" href="index.php?app=deposit&amp;act=rechargelist">{$lang.recharge_manage}</a></li>
    <li><span>{$lang.edit}</span></li>
  </ul>
</div>
<div class="info">
  <form method="post" enctype="multipart/form-data" id="account_form">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> {$lang.account_name}:</th>
        <td class="paddingT15 wordSpacing5">
          <input class="infoTableInput2" id="account" type="text" name="account" value="{$account.account|escape}" />
          <label class="field_notice">{$lang.note_account}</label>
        </td>
      </tr>
      <tr>
        <th class="paddingT15"> {$lang.pay_password}:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="password" type="text" id="password" />
          <label class="field_notice">{$lang.note_password}</label>
        </td>
      </tr>
      <tr>
        <th class="paddingT15"> {$lang.real_name}:</th>
        <td class="paddingT15 wordSpacing5">
        	<input class="infoTableInput2" name="real_name" type="text" id="real_name" value="{$account.real_name|escape}" />
       		<label class="field_notice">{$lang.real_name_not_empty}</label>
        </td>
      </tr>
      <tr>
        <th class="paddingT15"> {$lang.pay_status}:</th>
        <td class="paddingT15 wordSpacing5">
        	<input type="radio" name="pay_status" {if $account.pay_status eq 'ON' || !$account} checked="checked" {/if} value="ON" />{$lang.yes}
            <input type="radio" name="pay_status" {if $account.pay_status eq 'OFF'} checked="checked" {/if} value="OFF" />{$lang.no}
       	</td>
      </tr>
      
      
      <tr>
        <th></th>
        <td class="ptb20">
        	<input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" />
        </td>
      </tr>
    </table>
  </form>
</div>
{include file="footer.html"}